@font-face {
	font-family: 'Ciutadella Rounded';
	src: local('Ciutadella Rounded Medium'), local('Ciutadella-Rounded-Medium'),
		url('ciutadella-rounded-md.woff2') format('woff2'), url('ciutadella-rounded-md.woff') format('woff'),
		url('ciutadella-rounded-md.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
